@model IEnumerable<OreFun2014.Models.Train>

@{
    ViewBag.Title = "Index";
}

<h2>Trains</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfCars)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfCars)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainID })
        </td>
    </tr>
}

</table>
